/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

/***** page structure *****/
body {
	line-height: 1.5;
	font-family: Arial;
	color: #000000;
	font-size: 14pt;
	background-color: #D3D3D3;
	width: 98%;
	margin: 0px;
	height: auto;
}

table {
	border-spacing: 1px;
	border-collapse: collapse;
	empty-cells: show;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}
h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}
h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}
h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}
h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}
h6 {
	font-size: 1em;
	font-weight: bold;
}
a:focus, a:hover {
	color: red;
	text-decoration: none;
}
a {
	color: red;
	text-decoration: underline;
	text-decoration: none;
}

h1 a, h2 a {
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

/*~~~~~~~~~~~~~ Page wrapper ~~~~~~~~~~~~~~~*/
#wrapper {
	width: 1000px;
	/*background-color: #FFFFFF;*/
	background-color: #9933FF;
	margin-left: auto;
	margin-right: auto;
}

/*~~~~~~~~~~~~~ Page Header ~~~~~~~~~~~~~~~*/
#page_header {
	width: 100%;
	float: left;
	background-color: #FFFFFF;
}
#page_header_logoEule {
	padding: 15px 0 15px 50px;
	float: left;
}
#page_header_right {
	float: right;
	padding: 15px 100px 15px 0;
}
.page_header_right_img {
	float: left;
	padding: 10px;
	text-align: center;
}
/*~~~~~~~~~~ content box ~~~~~~~~~~~~~~~~~~
 beinhaltet: .article und sidebar
 */

#content_box {
	float: left;
	width: 100%;
	/*width: 980px;
	 margin: 0 10px 0 10px;*/
	background-color: #FFFFFF;
}
#content_box_article, .article, #page, #content_box_info_header {
	width: 630px;
	float: left;
	/*background-color: #FFFFFF;*/
}
/*#content_box_info_header
 {
 font-size:23px;
 width: 100%;
 float: left;
 font-family: Arial;
 border-bottom-width:1px;
 border-bottom-style:solid;
 border-color:black;
 padding: 15px;
 }*/
#content_box_article {
	float: left;
	padding: 0 10px 0 10px;
}
.article {
	width: 100%;
	float: left;
	font-family: Arial;
	margin: 5px;
	padding: 15px 0 15px 0;
	text-align: justify;
	font-size: 14px;
	line-height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #AAAAAA;
}

.article_img {
	float: left;
	padding: 10px 15px 5px 0px;
}

.articel_meta_info {
	width: 170px;
	float: left;
	padding: 20px 0 0 20px;
}

.article_ueberschrift, .article_ueberschrift a, .articel_content {
	width: 430px;
	padding: 0;
	float: right;
}
.article_ueberschrift, .article_ueberschrift a {
	font-family: Arial;
	font-size: 25px;
	margin-top: 10px;
	line-height: 32px;
	color: #000000;
	padding: 0 0 5px 10px;
	text-align: left;
	text-transform: uppercase;
}

.articel_content, .articel_content p, #page {
	text-align: justify;
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}

#page {
	margin: 0 0 0 10px;
	width: 100%;
	float: left;
}

.post-metainfo, .post-metainfo a {
	font: normal 10px Arial;
}

.tags-post, .tags-post a {
	font: normal 9px Arial;
	color: #666666;
}

#pagenavi {
	width: 100%;
	float: left;
	text-align: center;
	padding: 10px;
}
/* ---------------- Author --------------- */
#author_info {
	width: 100%;
	float: left;
	font-family: Arial;
	text-align: justify;
	border: 1px solid #CCCCCC;
	padding: 10px;
	margin: 0 0 50px 0;
	color: #555555;
}
#author_info_header {
	width: 100%;
	float: left;
}
#author_info_description {
	width: 100%;
	float: left;
	padding: 0 0 0 10px;
}
/*~~~~~~~~~~~ sidebar ~~~~~~~~~~~~~~~~~*/
#box_sidebar {
	width: 290px;
	/*padding: 10px;*/
	padding: 0 10px 0 10px;
	float: right;
	background-color: #FFFFFF;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	list-style-type: none;
}

#box_sidebar ul {
	list-style: none;
	width: 80%;
	margin: 0;
	padding: 0;
	/*float: right;*/
}

#box_sidebar h1 {
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	color: #969696;
	margin-top: 5px;
}

#box_sidebar h1 a {
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	color: #969696;
	text-decoration: none;
}

#box_sidebar h1 a:hover {
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	color: #ff0000;
	text-decoration: underline;
}

/*~~~~~~~~~~~ footer ~~~~~~~~~~~~~~~~~*/
#footer {
	width: 100%;
	float: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: #951b1b;
	background-color: #FFFFFF;
}


#footer_sponsoren, #footer_template_info, #footer_content {
	clear: both;
	width: 100%;
	font-family: Arial;
	margin-top: 5px;
	padding: 0px;
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #969696;
}

#footer_contact, #footer_friend {
	width: 35%;
	float: left;
	padding: 0 0 20px 10%;
	font-size: 13px;
	font-family: Arial;
	font-weight: normal;
	text-decoration: none;
	color: #969696;
}

#footer_contact ul, #footer_friend ul, #footer_contact li, #footer_friend li {/* Normalisierung */
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: left;
}


#footer_sponsoren a, #footer_template_info a, #footer_content a, #footer_contact a, #footer_friend a{
	text-decoration: none;
	color: #969696;
}
#footer_content {
	font-size: 13px;
}

.footer_space {
	width: 30px;
	float: left;
}

#menus {
	font: normal 12px Arial, sans-serif;
	list-style: none;
	position: relative;
	background: #FFFFFF;
	width: 100%;
	height: 27px;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	text-transform: uppercase;
	z-index: 1000;
	float: left;
}

#menus ul {
	list-style: none;
	margin: 0;
}
#menus a {
	border: 1px solid #FFFFFF;
	border-bottom: none;
	color: #000;
	display: block;
	line-height: 26px;
	background: #FFFFFF;
	padding: 0 10px;
}
#menus ul ul {
	display: none;
	position: absolute;
	top: 27px;
	left: -40px;
	float: left;
	width: 150px;
	z-index: 99999;
}
#menus li {
	float: left;
	position: relative;
}
#menus ul ul a {
	background: #FFFFFF;
	width: 160px;
	height: auto;
	border: 1px solid #D3D3D3;
}

#menus li:hover > a {
	background: #D3D3D3;
	color: #222;
}
#menus ul li.current_page_item > a, #menus ul li.current-menu-ancestor > a, #menus ul li.current-menu-item > a, #menus ul li.current-menu-parent > a {
	background: #FFFFFF;
	color: #333;
}
#menus ul li.current_page_item:hover > a, #menus ul li.current-menu-ancestor:hover > a, #menus ul li.current-menu-item:hover > a, #menus ul li.current-menu-parent:hover > a {
	background: #D3D3D3;
	color: #333;
}
#menus ul li:hover > ul {
	display: block;
}

img, iframe {
	border: 0px;
}

p img.alignright {
	float: right;
	margin: 1.5em 0 1.5em 1.5em;
}

p img.alignleft, .attachment-post-thumbnail, p img.attachment-post-thumbnail {
	background: url("shadow.png");
	border: medium none;
	display: block;
	float: left;
	margin: 8px;
	width: 160px;
	padding: 0;
}

#socialpic a, #socialpic img {
	float: right;
}

.sk-comment, sk-user-user {
	border: solid 1px #ffffff;
}

.commentlist li, #commentform input, #commentform textarea {
	font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
.commentlist li ul li {
	font-size: 1em;
}

.commentlist li {
	font-weight: bold;
}

.commentlist li .avatar {
	float: right;
	border: 1px solid #eee;
	padding: 2px;
	background: #fff;
}

.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
}

.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
}

#commentform p {
	font-family: Arial, 'Lucida Grande', Verdana, Sans-Serif;
}

.commentmetadata {
	font-weight: normal;
}
h3.comments {
	padding: 0;
	margin: 40px auto 20px;
}

/* Begin Form Elements */
#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
}

#commentform {
	margin: 5px 10px 0 0;
}
#commentform textarea {
	width: 100%;
	padding: 2px;
}
#respond:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#commentform #submit {
	margin: 0 0 5px auto;
	float: right;
}
/* End Form Elements */

/* Begin Comments*/
.alt {
	margin: 0;
	padding: 10px;
}

.commentlist {
	padding: 0;
	text-align: justify;
}

.commentlist li {
	margin: 15px 0 10px;
	padding: 5px 5px 10px 10px;
	list-style: none;
}
.commentlist li ul li {
	margin-right: -5px;
	margin-left: 10px;
}

.commentlist p {
	margin: 10px 5px 10px 0;
}
.children {
	padding: 0;
}

#commentform p {
	margin: 5px 0;
}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
}

.commentmetadata {
	margin: 0;
	display: block;
}
/* End Comments */

/*~~~~~~~~~~~ Kommentare ~~~~~~~~~~~~~~~~~*/
.comments_author {
	width: 100%;
	display: inline;
	line-height: 16px;
	margin: 0;
	padding: 0;
}

.comments_author_name {
	font: normal 14px Arial;
	float: left;
	color: #ff0000;
	margin: 0;
	padding: 0;
}

.comments_author_tags-post {
	font: normal 10px Arial;
	margin: 0;
	float: left;
	padding: 3px 0px 0px 10px;
}

.comments_content {
	float: left;
	font-family: Arial;
	padding: 0 0 0 20px;
	margin: 0;
	text-align: justify;
	font-size: 14px;
	line-height: 18px;
	width: 100%;
}

#commentform {
	width: 100%;
	font: normal 16px Arial;
}
#commentform input.text {
	font-size: 17px;
	line-height: 22px;
}
#kommentare li {
	list-style: none;
}
#comments-title {
	width: 100%;
	text-align: left;
	padding: 30px 0 0 0;
}

#kommentare_header {
	text-align: left;
	font-family: Arial;
	font-size: 24px;
	color: #000000;
	float: left;
	width: 100%;
	padding: 10px 0 20px 0;
}

#box_sidebar_popular_posts {
	float: left;
	width: 100%;
	font: normal 14px Arial;
}

/*~~~~~~~~~~~ sidebar ~~~~~~~~~~~~~~~~~*/

#sidebar_right {
	width: 300px;
	float: right;
	margin: 5px 0 0 0;
	background-color: #FFFFFF;
	list-style: none;
}
#sidebar_right {
	/*text-align: left;*/
}
#sidebar_right_tagcloud, #sidebar_right_content {
	width: 100%;
}
#sidebar_right_content {
	text-align: left;
}
#sidebar_right_content ul li {
	list-style: none;
}

.tagcloud {
	margin: 0 0 50px 0;
}

#sidebar_socialLinks {
	font: normal 14px Arial;
	list-style: none;
	width: 30px;
	z-index: 4000;
	float: left;
	vertical-align: top;
	top: 40%;
	left: 0;
	font-size: 10px;
	position: fixed;
}

#sidebar_socialLinks a {
	display: block;
	margin: 5px 0 5px 0;
}
