/**
 * 	BackEnd
 */
#Plugin_Wrapper
{
	width: 96%;	
}

#Plugin_Wrapper_Content
{
	float: left;
	width: 100%;
	
	font-family: Arial;
	font-size: 15px;
	line-height:24px;

}.header_title
{
	width: 100%;
	background-color: #CCCCCC;
	line-height:24px;
	font-size:18px;
	font-family: Arial;
	text-align: center;
	padding: 10px 0 10px 0;
	float: left;
	margin: 5px 0 5px 0;
}

.infotext_1,.infotext_2
{
	font-family: Arial;
	float: left;
	width: 100%;
	padding: 5px 0 5px 0;
}
.infotext_1
{
	background-color: #CCCCCC;	
}
.infotext_2
{
	background-color: #E6E6E6;	
}
.text_title
{
	width: 20%;
	float: left;
	font-size:14px;
	padding:2px;
	line-height:24px;
	text-align: right;
	font-style:italic;
}
.text_content
{
	width: 77%;
	float: right;
	margin: 0 0 0 2%;
	font-size:14px;
	line-height:24px;
	text-align: left;
}

#back_link
{
	text-align: center;
	padding: 20px;
	float: left;
	width: 100%;
}

#footer_plugin 
{
	margin: 20px 0 0 0;
	text-align: center;
	border-top: 1px solid #969696;
	color: #969696;
  	font-family: Arial;
	font-size: 9px;
	font-weight: normal;
	text-decoration: none;
	width: 100%;
	float: left;
	background-color: #FFFFFF;
}

#footer_plugin a
{
  text-decoration:none;
  color: #969696;
}
