/*~~~~~~~~~~

COPY from Blueprint CSS
~~~~~~~~~~~~~~~~~~*/

.container{
  margin-top:60px;
}

a {color: #c00; text-decoration: none }

a.hover, a.focus {text-decoration: underline}

.menuwrapper{
  width:800px;
	height: 95px;
  border-top: 1px solid red;
}

table {
  margin-top:-5px;
  margin-bottom:0px;
  width:100%;
}

#logo img{
  margin-top:-40px;
}

#information{
  margin-top:5px;
}

#information a{
  text-decoration: none;
}

#information a:hover{
  text-decoration: underline;
}

#information h5{
  margin-bottom: 0px;
  padding: 0px;
}

#information ul{
  margin-top: 0px;
}

#interactive{
  margin-top:5px;
}

#interactive a{
  text-decoration: none;
}

#interactive a:hover{
  text-decoration: underline;
}

#interactive h5{
  margin-bottom: 0px;
  padding: 0px;
}

#interactive ul{
  margin-top: 0px;
}

#sender{
  margin-top:5px;
}

#sender a{
  text-decoration: none;
}

#sender a:hover{
  text-decoration: underline;
}

#sender h5{
  margin-bottom: 0px;
  padding: 0px;
}

#sender ul{
  margin-top: 0px;
}

#search{
  
}

#mainsidebar{
  border-top: 1px solid red;
}

#mainsidebar p {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;	
	color: #666;
	margin: 12px 0px 15px 10px;
}

#mainsidebar h1 {
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	color: #969696;
	margin-top:5px;
}

#mainsidebar h1 a {
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	color: #969696;
	text-decoration: none;
}

#mainsidebar h1 a:hover {
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	color: #ff0000;
	text-decoration: underline;
}

#main {
  border-top: 1px solid red;
}

#footer {
  font-family: Arial;
	margin-top: 5px;
	padding: 0px;
	text-align: right;
	border-top: 1px solid red;
	color: #969696;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}

#footer a{
  text-decoration:none;
  color: #969696;
}

h4.journalhead, h4.messagehead { background:#ffb; border-top:1px dotted #999; }
  .message, .journal, .diary {
      padding:3px;
      border:1px dotted #999;
      background:green;
  }

#wikitext{
  margin-top:10px;
}

#wikitext tr a{
  text-decoration:none;
  color:white;
  font-style:italic;
}

a.selflink{
  font-size:16px;
  font-color:black;
  font-style:italic;
}

a.wikilink hover, focus{
  text-decoration: underline;
}

.playlist a {
	color:red;
}

}.vspace ul{
  list-style:none;
}

.mini { padding:2px; border:1px solid #dddddd; background-color:#ffffff; }
.miniH, .miniF {display:block;}


.iframe { width:600px; height:2000px; }
.iframe {color: red;}

*|*:link {
  color:red;
}

/*
input.title {
padding:5px;
width:200px;
} */





/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography.css */
html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000;}
a {color:#009;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:3.333em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
input[type=text], input[type=password], input.text, input.title, textarea, select {background-color:#fff;border:1px solid #bbb;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border-color:#666;}
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.5em 0;}
/*input.text, input.title {width:200px;padding:5px;}*/
input.text, input.title {height:12px;width:70px; margin-left: 40px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative;top:.25em;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}


/* A container should group all your columns. */
.container {
  width: 800px;
  margin: 0 auto;
}

/* Use this class on any div.span / container to see the grid. */
.showgrid { 
  background: url(src/grid.png); 
}

/* Body margin for a sensile default look. */
body {
  margin:1.5em 0;	
}


/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23 {float:left;margin-right: 5px;}

/* The last column in a row needs this class. */
div.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1  { width: 30px;}
.span-2  { width: 65px;}
.span-3  { width: 100px;}
.span-4  { width: 135px;}
.span-5  { width: 170px;}
.span-6  { width: 205px;}
.span-7  { width: 240px;}
.span-8  { width: 275px;}
.span-9  { width: 310px;}
.span-10 { width: 345px;}
.span-11 { width: 380px;}
.span-12 { width: 415px;}
.span-13 { width: 450px;}
.span-14 { width: 485px;}
.span-15 { width: 520px;}
.span-16 { width: 555px;}
.span-17 { width: 590px;}
.span-18 { width: 625px;}
.span-19 { width: 660px;}
.span-20 { width: 695px;}
.span-21 { width: 730px;}
.span-22 { width: 765px;}
.span-23, div.span-23 { width: 800px; margin: 0; }


/* Add these to a column to append empty cols. */
.append-1  { padding-right: 35px;}
.append-2  { padding-right: 70px;}
.append-3  { padding-right: 105px;}
.append-4  { padding-right: 140px;}
.append-5  { padding-right: 175px;}
.append-6  { padding-right: 210px;}
.append-7  { padding-right: 245px;}
.append-8  { padding-right: 280px;}
.append-9  { padding-right: 315px;}
.append-10 { padding-right: 350px;}
.append-11 { padding-right: 385px;}
.append-12 { padding-right: 420px;}
.append-13 { padding-right: 455px;}
.append-14 { padding-right: 490px;}
.append-15 { padding-right: 525px;}
.append-16 { padding-right: 560px;}
.append-17 { padding-right: 595px;}
.append-18 { padding-right: 630px;}
.append-19 { padding-right: 665px;}
.append-20 { padding-right: 700px;}
.append-21 { padding-right: 735px;}
.append-22 { padding-right: 770px;}


/* Add these to a column to prepend empty cols. */
.prepend-1  { padding-left: 35px;}
.prepend-2  { padding-left: 70px;}
.prepend-3  { padding-left: 105px;}
.prepend-4  { padding-left: 140px;}
.prepend-5  { padding-left: 175px;}
.prepend-6  { padding-left: 210px;}
.prepend-7  { padding-left: 245px;}
.prepend-8  { padding-left: 280px;}
.prepend-9  { padding-left: 315px;}
.prepend-10 { padding-left: 350px;}
.prepend-11 { padding-left: 385px;}
.prepend-12 { padding-left: 420px;}
.prepend-13 { padding-left: 455px;}
.prepend-14 { padding-left: 490px;}
.prepend-15 { padding-left: 525px;}
.prepend-16 { padding-left: 560px;}
.prepend-17 { padding-left: 595px;}
.prepend-18 { padding-left: 630px;}
.prepend-19 { padding-left: 665px;}
.prepend-20 { padding-left: 700px;}
.prepend-21 { padding-left: 735px;}
.prepend-22 { padding-left: 770px;}



/* Border on right hand side of a column. */
div.border {
  padding-right:1.5px;
  margin-right:2.5px;
  border-right: 1px solid #eee;
}

/* Border with more whitespace, spans one column. */
div.colborder {
  padding-right:30.5px;
  margin-right:27.5px;
  border-right: 1px solid #eee;
}

/* Use these classes on an element to push it into the 
   next column, or to pull it into the previous column.  */

.pull-1 { margin-left: -35px;}
.pull-2 { margin-left: -70px;}
.pull-3 { margin-left: -105px;}
.pull-4 { margin-left: -140px;}
.pull-5 { margin-left: -175px;}
.pull-6 { margin-left: -210px;}
.pull-7 { margin-left: -245px;}
.pull-8 { margin-left: -280px;}
.pull-9 { margin-left: -315px;}
.pull-10 { margin-left: -350px;}
.pull-11 { margin-left: -385px;}
.pull-12 { margin-left: -420px;}
.pull-13 { margin-left: -455px;}
.pull-14 { margin-left: -490px;}
.pull-15 { margin-left: -525px;}
.pull-16 { margin-left: -560px;}
.pull-17 { margin-left: -595px;}
.pull-18 { margin-left: -630px;}
.pull-19 { margin-left: -665px;}
.pull-20 { margin-left: -700px;}
.pull-21 { margin-left: -735px;}
.pull-22 { margin-left: -770px;}
.pull-23 { margin-left: -805px;}

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23 {float:left;position:relative;}


.push-1 { margin: 0 -35px 1.5em 35px;}
.push-2 { margin: 0 -70px 1.5em 70px;}
.push-3 { margin: 0 -105px 1.5em 105px;}
.push-4 { margin: 0 -140px 1.5em 140px;}
.push-5 { margin: 0 -175px 1.5em 175px;}
.push-6 { margin: 0 -210px 1.5em 210px;}
.push-7 { margin: 0 -245px 1.5em 245px;}
.push-8 { margin: 0 -280px 1.5em 280px;}
.push-9 { margin: 0 -315px 1.5em 315px;}
.push-10 { margin: 0 -350px 1.5em 350px;}
.push-11 { margin: 0 -385px 1.5em 385px;}
.push-12 { margin: 0 -420px 1.5em 420px;}
.push-13 { margin: 0 -455px 1.5em 455px;}
.push-14 { margin: 0 -490px 1.5em 490px;}
.push-15 { margin: 0 -525px 1.5em 525px;}
.push-16 { margin: 0 -560px 1.5em 560px;}
.push-17 { margin: 0 -595px 1.5em 595px;}
.push-18 { margin: 0 -630px 1.5em 630px;}
.push-19 { margin: 0 -665px 1.5em 665px;}
.push-20 { margin: 0 -700px 1.5em 700px;}
.push-21 { margin: 0 -735px 1.5em 735px;}
.push-22 { margin: 0 -770px 1.5em 770px;}
.push-23 { margin: 0 -805px 1.5em 805px;}

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23 {float:right;position:relative;}



/* Misc classes and elements
-------------------------------------------------------------- */

/* Use a .box to create a padded box inside a column.  */ 
.box { 
  padding: 1.5em; 
  margin-bottom: 1.5em; 
  background: #E5ECF9; 
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd; 
  color: #ddd;
  clear: both; 
  float: none; 
  width: 100%; 
  height: .1em;
  margin: 0 0 1.45em;
  border: none; 
}
hr.space {
  background: #fff;
  color: #fff;
}


/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix, .container {display: inline-block;}
* html .clearfix,
* html .container {height: 1%;}
.clearfix, .container {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear:both; }

/* print.css */
body {line-height:1.5;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;color:#000;background:none;font-size:10pt;}
.container {background:none;}
hr {background:#ccc;color:#ccc;width:100%;height:2px;margin:2em 0;padding:0;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
h1, h2, h3, h4, h5, h6 {font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;}
code {font:.9em "Courier New", Monaco, Courier, monospace;}
a img {border:none;}
p img.top {margin-top:0;}
blockquote {margin:1.5em;padding:1em;font-style:italic;font-size:.9em;}
.small {font-size:.9em;}
.large {font-size:1.1em;}
.quiet {color:#999;}
.hide {display:none;}
a:link, a:visited {background:transparent;font-weight:700;text-decoration:underline;}
